<div class="items-container">
   <ul class="mdl-grid">
     <li *ngFor="let item of items; let i=index"  class="mdl-cell mdl-cell--4-col mdl-list__item c-item mdl-shadow--2dp">
       <div class="mdl-list__item-primary-content mdl-grid">
         <img src="{{item.images[0]}}" alt="an image" class="thumbnail mdl-cell mdl-cell--10-col mdl-cell--2-col-phone"/> 
         <div  class="mdl-cell mdl-cell--1-col mdl-cell mdl-cell--2-col-phone" app-item-action [itemId]="item.id"></div>
         <span  class="mdl-cell mdl-cell--10-col description">
         	 {{item.description}}
         </span>
         <span class="mdl-cell mdl-cell--10-col mdl-cell--3-col-phone">
           <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" [routerLink]="['/items', item.id]">
                   {{item.name}}
                   <i class="material-icons">chevron_right</i>
           </a>
         </span>
         <span class="mdl-cell mdl-cell--2-col mdl-cell--1-col-phone price">{{item.price}}</span>
       </div>
    </li>
   </ul>
</div>
