<div class="android-be-together-section mdl-typography--text-center">

    <div>
    <img src="assets/img/home_large_patagonia_1.jpg">
    <div class="hero-image">
      <p>
        <a href="/items" id="start_s" class="md-button btn1" disabled>Start Shopping</a>
      </p>
    </div> 

  </div>
  <div class="android-more-section">
    <div class="android-card-container mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
        </div>
        <div class="mdl-card__title">
           <h4 class="mdl-card__title-text">Offer of the Day</h4>
        </div>
        <div class="mdl-card__supporting-text">
           <img src="assets/img/home_small_holiday_opti.jpg">
           <span>15$</span>
        </div>
        <div class="mdl-card__actions">
           <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
             Buy Now
             <i class="material-icons">chevron_right</i>
           </a>
        </div>
      </div>

      <div id="card1" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">    
        <div class="mdl-card__title">
           <h4 class="mdl-card__title-text">Kids Appareal</h4>
        </div>
        <div class="mdl-card__supporting-text">
           <img src="" src="assets/img/super-android_small.jpg">
        </div>
        <div class="mdl-card__actions">
           <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
             See more
             <i class="material-icons">chevron_right</i>
           </a>
        </div>
      </div>

      <div id="card2" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__title">
           <h4 class="mdl-card__title-text">Youtube Design</h4>
        </div>
        <div class="mdl-card__supporting-text">
         <img src="" src="assets/img/home_small_youtube.jpg">
        </div>
        <div class="mdl-card__actions">
           <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
             See more
             <i class="material-icons">chevron_right</i>
           </a>
        </div>
      </div>

     </div>
     <hr>
      <div class="mdl-typography--display-1-color-contrast">New items</div>
     <div class="android-card-container mdl-grid">     
      <div id="card3" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__supporting-text">
         <img src="" src="assets/img/barrel_bag/medium/barrel_bag1.jpg">
        </div>
        <div class="mdl-card__actions">
           <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
             more details
             <i class="material-icons">chevron_right</i>
           </a>
        </div>
      </div>
    </div>     
  </div>
  </div>
  <div class="footer-container">
<footer class="android-footer mdl-mega-footer">
          <div class="mdl-mega-footer--top-section">
            <div class="mdl-mega-footer--left-section">
             
            </div>
            <div class="mdl-mega-footer--right-section">
              <a class="mdl-typography--font-light" href="#top">
               
              </a>
            </div>
          </div>

          <div class="mdl-mega-footer--middle-section">
            <p class="mdl-typography--font-light" style="font-szie:11px; color: #aaa">Google 2016 - Demo application</p>
          </div>

</footer>
</div>